* {
  margin: 0;
  padding: 0;
}

#gallery {
  width: 500%;
  margin: 0 auto;
}

.selected img {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

.slider-nav .slick-list img {
    width: 50%;
    margin: 0 auto;
}

.modal-body {
  padding: 8%;
}

.num-photos {
  font-size: 0.8em;
  font-style: italic;
}

.main {
  max-width: 600px;
  border-radius: 8px;
}

.description {
  font-size: 0.8em;
  text-align: center;
}
